NODE_ENV=development
HOST=0.0.0.0
PORT=3333
CORS_ORIGIN=http://localhost:5173,http://localhost:5174
AUTH_MOCK_TOKEN=mock_token_12345
AUTH_ADMIN_EMAIL=admin@eletroradio.com
AUTH_ADMIN_PASSWORD=senha123
WHATSAPP_VERIFY_TOKEN=change_me

